.vs/
bin/
obj/

/src/Gba.TradeLicense.Api/Uploads/LicenceDocuments/2026/01/20/224a7904-5ea5-4a00-8591-2701fd7b7f7f.pdf
/src/Gba.TradeLicense.Api/Uploads/LicenceDocuments/2026/01/20/4b3f6af6-43eb-4426-8f11-60f3c1389ac2.pdf
/src/Gba.TradeLicense.Api/Uploads/LicenceDocuments/2026/01/20
